name: first-try

on:
  workflow_dispatch:
  push:
    branches:
      - "master"

env:
  name: "abdelkader Boukert"

jobs:
  say-hello:
    runs-on: ubuntu-latest
    environment: Keys
    steps:
      - name: Run a one-line script
        run: echo "this Github action run by $name and use the key ${{secrets.AWS_KEY}} and ${{secrets.TEST}}"

  job-2:
    outputs:
      V: ${{steps.S11.outputs.V}}
    runs-on: ubuntu-latest
    steps:
      - name: check rebo event
        id: S11
        run: |
          # 1. Saving a variable for the NEXT JOB to use
          echo "V=${{ env.name }} is doing ${{ github.event_name }}" >> $GITHUB_OUTPUT

          # 2. Creating a physical file to SAVE as an artifact
          echo "hi there this is test" >> test.txt

      - name: upload file
        id: S12
        uses: actions/upload-artifact@v4
        with:
          name: test
          path: test.txt

  job-3:
    runs-on: ubuntu-latest
    needs:
      - say-hello
      - job-2
    steps:
      - name: check rebo event
        id: S21
        run: echo "${{needs.job-2.outputs.V}}"
      - name: download file
        id: S22
        uses: actions/download-artifact@v4
        with:
          name: test
      - name: show file
        id: S23
        run: cat test.txt
