name: first-try

on:
  workflow_dispatch:
  push:
    branches:
      - "master"

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: echo "GitHub Actions is working from my WSL setup!"
