name: first-try

on:
  workflow_dispatch:
  push:
    branches:
      - "master"

jobs:
  say-hello:
    runs-on: ubuntu-latest
    environment: Keys
    env:
      name: "abdelkader Boukert"
    steps:
      - name: Run a one-line script
        run: echo "this Github action run by $name and use the key ${{secrets.AWS_KEY}} and ${{secrets.TEST}}"
