name: workflows for learning

on:
    push:
        branches: [master]

    workflow_dispatch:

jobs:
    job-1:
        runs-on: ubuntu-latest
        outputs:
            A: ${{steps.S11.outputs.A}}
        steps:
            - name: creating file
              run: print("test for job1")
              shell: python
            - name: set valeu
              id: S11
              run: echo A=55 >> $GITHUB_OUTPUT

    job-2:
        runs-on: ubuntu-latest
        needs: [job-1]
        steps:
            - name: echo the valeu of the output from
              run: echo ${{needs.job-1.outputs.A}}

    job-3:
        runs-on: ubuntu-latest
        needs: [job-1]
        steps:
            - name: push file to cache
              id: S31
              uses: actions/cache@v4
              with:
                  path: /CacheV1
                  key: k1
            - name: check the cache
              if: steps.S31.outputs.cache-hit == false
              run: |
                  mkdir -p CacheV1
                  echo the output is :$((${{needs.job-1.outputs.a}} + 5)) >> CacheV1/output.txt
            - name: use cache
              id: S33
              run: |
                  cat CacheV1/output.txt
    job-4:
        runs-on: ubuntu-latest
        outputs:
            B: ${{steps.S41.outputs.B}}
        steps:
            - name: set valeu for B
              id: S41
              run: echo B=24 >> $GITHUB_OUTPUT

    job-5:
        runs-on: ubuntu-latest
        needs: [job-4, job-1]
        env:
            Key: need.job-4.outputs.B
            valeu: needs.job-1.outputs.A
        steps:
            - name: try 2
              id: S51
              run: echo $(( key + valeu ))
