name: workflows for learning

on:
    push:
        branches: [master]

    workflow_dispatch:

jobs:
    job-1:
        runs-on: ubuntu-latest
        outputs:
            A: ${{steps.S11.outputs.A}}
        steps:
            - name: creating file
              run: print("test for job1")
              shell: python
            - name: set valeu
              id: S11
              run: echo A=55 >> $GITHUB_OUTPUT

    job-2:
        runs-on: ubuntu-latest
        needs: [job-1]
        steps:
            - name: echo the valeu of the output from
              run: echo ${{needs.job-1.outputs.A}}
